.react-rainbow {
  -webkit-font-smoothing: antialiased;
  label {
    font-weight: bold;
    font-size: 1.0625rem;
    color: #181d38;

    line-height: 1.3em !important;
    margin: auto auto 5px 0;
  }
  input {
    border-radius: 6px !important;
  }
  input:focus {
    border: 1px solid #181d38 !important;
    box-shadow: 0 0 0 2px #181d38 !important;
  }
  div[id^="error-message"] {
    margin-left: 0;
    margin-right: auto;
  }
}

.rainbow-error {
  position: absolute;
  right: 10%;
  z-index: 1000;
}
